{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    
    <div class="container mt-5">
        <div class='row row-cols-2 g-0 justify-content-between'>
            {% for program in programs %}
                <div class="card m-1 col bg-dark" style="max-width: 49%;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src={{program.poster}} height="300px" width="220px"; alt="...">
                        </div>
                        <div class="col-md-8 text-center align-self-center overflow-auto" style="max-height: 300px;">
                            <div class="card-body" style="color: aliceblue;">
                                 <h5>{{ program.title }}</h5>
                                    <p>Catégorie : {{ program.category.name }}</p>
                                    <p>{{ program.synopsis }}</p>
                                    <div class="d-flex justify-content-center">
                                        <div class="neon p-2">
                                            {# Lien vers la fiche de la série : #}
                                            <a class="neon1"  href="{{ path("program_show", { program_id: program.id }) }}">Vo<span class="first">ir la fi</span>che</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                
                {% else %}
                Aucune série trouvée.
                {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
