{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }}{% endblock %}

{% block body %}
<div class="media">
    <p>Catégorie : {{ program.category.name }}</p>
    <p>Synopsis: {{ program.synopsis }}</p>
    <div class="media-body">
      <h1 class="mt-0">Saison: {{ season.number }}</h1>
      <p>Année: {{ season.year }}</p> </br>
      <p>Description de la saison {{ season.number }}: {{ season.description }}</p>
      {% for episode in episodes %}
      <h2 class="mt-0">Episode: {{ episode.number }} / {{ episode.title }}</h2>
      {% endfor %}
    </div>
  </div>
  <a href="{{ path('program_index') }}">
      Retour à la liste des programmes
  </a>
{% endblock %}